* {
    margin: 0;
    padding: 0;
    -webkit-transition: .4s;
    transition: .4s;
}

html {
    color-scheme: dark;
}


.modeSwitch {
    position: fixed;
    display: inline-block;
    width: 4em;
    height: 2em;
    right: 1em;
    top: 1em;
    border-radius: 1.5em;

}

.modeSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightslategray;
    border-radius: 1.5em;
    
}

.slider:before {
    display:flex;
    position: absolute;
    justify-content: center;
    align-content: center;
    content: "🌑";
    left: .3em;
    background-color: none;
    /* border-radius: 50%; */
}

input:checked+.slider {
    background-color: lightgoldenrodyellow;
}

input:focus+.slider {
    box-shadow: 0 0 1px darkslategray;
}

input:checked+.slider:before {
    content: "🌕";
    -webkit-transform: translateX(2em);
    -ms-transform: translateX(2em);
    transform: translateX(2em);
}

.section{
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    border: 1px;
}

#navButtons {
    display: flex;
    position: fixed;
    left: 50%;
    bottom: .5em;
    transform: translate(-50%);
    gap: .5em;
    list-style: none;
    max-width: 95vw;
}

.navlink {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 5em;
    height: 2em;
    border: 2px solid light-dark(black,white);
    border-radius: 3em;
    background-color: light-dark(white,black);
    color: light-dark(black,white)
}

#landing, #projects {
    background-color: light-dark(blanchedalmond,darkslategray);
    color: light-dark(darkslategrey,blanchedalmond);
}

#about, #contact {
    background-color:  light-dark(aqua,#249D9F);
    color: light-dark(darkslategray,darkslategray);
}
/* 
#contact {
    background-color:  light-dark(yellow,#249D9F);
    color: light-dark(pink,aqua);
} */