@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


:root {



    --bold-one: #294549;
    --bold-two: #4e7f90;
    --neutral-one: #4a807e;
    --neutral-two: #90C2b7;
    --comp: #BBD7DA;


}


* {
    margin: 0;
    padding: 0;
    -webkit-transition: .1s;
    transition: .1s;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    color-scheme: light dark;
}


.modeSwitch {
    position: fixed;
    display: inline-block;
    width: 3.2em;
    height: 1.6em;
    right: 1em;
    top: 1em;
    border-radius: 1.2em;
    z-index: 11;

}

.modeSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: .4em;
    right: 0;
    bottom: 0;
    background-color: var(--bold-one);
    border-radius: 1.5em;

}

.slider:before {
    display: flex;
    position: absolute;
    justify-content: center;
    align-content: center;
    content: "🌑";
    left: .1em;
    background-color: none;
    -webkit-transition: .4s;
    transition: .4s;
    /* border-radius: 50%; */
}

input:checked+.slider {
    background-color: var(--comp);
    -webkit-transition: .4s;
    transition: .4s;
}

input:focus+.slider {
    box-shadow: 0 0 1px darkslategray;
}

input:checked+.slider:before {
    content: "🌕";
    -webkit-transform: translateX(1.3em);
    -ms-transform: translateX(1.3em);
    transform: translateX(1.3em);

}

.section {
    height: 100dvh;
    overflow: hidden;
    /* border: 2em solid; */
}

#nav_buttons {
    display: flex;
    position: fixed;
    left: 50%;
    bottom: .5em;
    transform: translate(-50%);
    gap: .5em;
    list-style: none;
    max-width: 95vw;
    z-index: 10;
}

.navlink {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: .8em;
    border-radius: 1.5em;
    height: 2em;
    width: 5em;
    background-color: light-dark(var(--comp), var(--bold-one));
    font-weight: 500;
    color: light-dark(var(--bold-two), var(--comp));
    z-index: 10;
}

#landing,
#projects {
    background-color: light-dark(whitesmoke, black);
    color: light-dark(var(--bold-two), var(--comp));
}

#about,
#contact {
    background-color: light-dark(var(--neutral-two), var(--bold-two));
    color: light-dark(var(--neutral-one), var(--comp));
}

#landing {
    display: flex;
    justify-content: center;
    align-items: center;
}



#hunny {
    max-width: 50%;
}

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-weight: 500;
    overflow: auto;
    padding: 0 8em;
}

.container {
    max-height: 100%;
}

#about_container h1 {
    margin-left: 1rem;
    font-size: 4em;
}

#about_container p {
    padding: 1em;
    font-size: 1em;
    box-decoration-break: clone;
}

.float_text {
    height: 100%;
}

#about_img {
    max-height: 44dvh;
    max-width: 44vw;
    float: right;
    shape-outside: url('img/image2.png');
}

#about_img_left {
    max-height: 44dvh;
    max-width: 44vw;
    float: left;
    shape-outside: url('img/image4.png')
}

#contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: column; */
}



.contact_card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: inherit;
    text-decoration: none;
    text-wrap-mode: nowrap;
}

.contact_card p {
    margin-top: 1em;
    opacity: 0;
    transition: 1s ease;
}

.contact_icon {
    cursor: pointer;
    z-index: 1;
    height: 10dvh;
    filter: brightness(0) saturate(100%);
}

.contact_icon:hover {
    transform: scale(1.1);
}

.contact_card:hover p {
    display: block;
    animation: appear .5s linear;
    opacity: 1;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(2em);
    }

    to {
        opacity: 1;
    }
}



#projects{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    flex-direction: column;
}

.mySlides {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
}
/* begin w3 paste*/

/* Slideshow container */
.slideshow-container {
    width: 100%;
    height: 90%;
    position: relative;
    margin: auto;
}

.slideshow-container h1{
    text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: light-dark(var(--bold-two), var(--comp));
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: light-dark(var(--bold-two), var(--comp));
    position: absolute;
    bottom: 4em;
    width: 100%;
    text-align: center;
}


/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: .6em;
    width: .6em;
    margin: 0 .5em;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* end w3 paste */

.col_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    height: 100%;
}

.slide_left img{
    max-width: 40vw;
    max-height: 76dvh;
}
.slide_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
}
.slide_right{
    flex: 1;
}

.slide_right p{
    margin-bottom: 2em;
}

.proj_space{
    height: 1.5em;
}
/* responsiveness */

@media (max-width: 960px) {
    .landing_left h2{
        font-size: 1em;
    }

    #nav_buttons {
        bottom: 1.5em;
    }

    #contact {
        padding-top: 5dvh;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 5dvh;
    }

    #about {
        padding: 1em;
    }

    #about_container p{
        font-size: .8em;
    }

    .contact_card {
        width: fit-content;
    }

    .spacer {
        height: 8em;
    }

    .col_flex{
        flex-direction: column;
    }

    .slide_left img{
        max-height: 40dvh;
    }
}

.mb {
    margin-bottom: 2em;
}

.mt {
    margin-top: 2em;
}

.tr {
    text-align: right;
}

.tl {
    text-align: left;
}

.tc {
    text-align: center;
}